.heading1{
    text-align: center;
    color: rgb(34, 168, 178);
    font-size: 75px;
}
.demon{
    margin-top: 10px;
   
}
.heading2{
    color: rgb(209, 55, 55);
    text-align: center;
    
}
.card {display:inline-block;
  margin-top: 20px;
  margin-right: 80px;
  margin-left: 50px;  
}
.divcontact{
    margin-top: 20px;
    background-color: rgba(0, 255, 179, 0.959);
}